@font-face {
  font-family: "maisonneue-book";
  src: url("fonts/maisonneue-book-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-demi";
  src: url("fonts/maisonneue-demi-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-light";
  src: url("fonts/maisonneue-light-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-medium";
  src: url("fonts/maisonneue-medium-webfont.woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  background-color: #ffffff;
  font-family: maisonneue-light;
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
}

.navbar {
  width: 100%;
  position: absolute;
}

@media screen and (min-width: 1023px) {
  .navbar {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 125px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }
}

.brand-logo svg {
  fill: #ffffff;
  width: 100px;
  margin: 30px;
}

@media screen and (min-width: 1023px) {
  .brand-logo svg {
    width: 125px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.navmenu {
  display: none;
}

@media screen and (min-width: 1023px) {
  .navmenu {
    display: unset;
  }
}

.navmenu a {
  text-decoration: none;
  font-family: maisonneue-book;
  padding-left: 42px;
  color: #ffffff;
  letter-spacing: 0.1px;
}

.navmenu a:hover {
  opacity: 50%;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.navbar-favicon {
  display: none;
}

@media screen and (min-width: 1023px) {
  .navbar-favicon {
    display: unset;
    position: fixed;
    right: 0;
    top: 0;
    padding: 30px;
    cursor: pointer;
    opacity: 0;
  }
  .navbar-favicon:hover {
    padding-left: -20px;
    opacity: 0;
  }
}

.navbar-favicon figure {
  width: 60px;
}

.favicon-fadein {
  opacity: 1;
  -webkit-animation: favicon-fadein 0.2s;
          animation: favicon-fadein 0.2s;
}

@-webkit-keyframes favicon-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes favicon-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.fade-in p {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.fade-in h2 {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
}

.fade-in .list-container {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(110px);
            transform: translateY(110px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(110px);
            transform: translateY(110px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 1023px) {
  .navbar-onhover {
    position: fixed;
    background-color: #99daf2;
    height: 60px;
    -webkit-animation: nav-fadein 0.2s;
            animation: nav-fadein 0.2s;
  }
  .navbar-onhover svg {
    padding-top: 10px;
    fill: #000000;
  }
  .navbar-onhover a {
    color: #000000;
  }
}

@-webkit-keyframes nav-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes nav-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.disable-favicon {
  display: none;
}

.hamburger_container {
  position: fixed;
  right: 0;
}

.hamburger_container .favicon_btn {
  background-color: transparent;
  border: none;
  right: 0px;
  padding: 17px 23px;
  width: 84px;
  height: inherit;
}

.hamburger_container .toggler {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  width: 50px;
  height: 70px;
  opacity: 0%;
  z-index: 2;
}

@media screen and (min-width: 1023px) {
  .hamburger_container {
    display: none;
  }
}

.hamburger_menu {
  background-color: #633a86;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 25px 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.hamburger_menu .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hamburger_menu .topbar .favicon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.hamburger_menu .topbar .favicon:hover {
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hamburger_menu .topbar .cross {
  margin: 15px 20px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
}

.hamburger_menu ul {
  text-align: left;
  padding-top: 72px;
  height: 75vh;
}

.hamburger_menu ul a {
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
  font-size: 24px;
  font-family: maisonneue-book;
}

.hamburger_menu ul a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger_menu .contact_footer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger_menu .contact_footer a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.75;
  font-weight: 100;
  line-height: 50px;
  font-size: 20px;
  font-family: maisonneue-light;
}

.hamburger_menu .contact_footer a svg {
  fill: #73b3f3;
  padding: 0;
  width: 19px;
}

.hamburger_menu .contact_footer a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #73b3f3;
          text-decoration-color: #73b3f3;
  color: #73b3f3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggler:checked ~ .hamburger_menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.met-image {
  width: 100%;
  height: 38vh;
}

@media screen and (min-width: 1023px) {
  .met-image {
    height: 100vh;
    width: 100%;
  }
}

.met-image img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1023px) {
  .met-image img {
    width: 100%;
    height: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.main_heading {
  color: #ffffff;
  padding: 22px 30px;
  background-color: #171837;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1023px) {
  .main_heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 72vh;
    left: 9vw;
    background-color: transparent;
  }
}

.main_heading span {
  padding-top: 17px;
  font-size: 16px;
  color: #abb2b9;
}

@media screen and (min-width: 1023px) {
  .main_heading span {
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 600;
  }
}

.main_heading h1 {
  font-size: 25px;
  letter-spacing: 0.5px;
  font-family: maisonneue-demi;
}

@media screen and (min-width: 1023px) {
  .main_heading h1 {
    font-size: 54px;
  }
}

.mideast {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #171837;
}

@media screen and (min-width: 1023px) {
  .mideast {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.mideast p {
  font-size: 22px;
  line-height: 40px;
}

@media screen and (min-width: 1023px) {
  .mideast p {
    width: 63%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 33px;
    line-height: 53px;
    margin: 170px;
  }
}

.mideast ul {
  margin: 26px 0 90px;
  text-decoration: none;
  line-height: 40px;
}

@media screen and (min-width: 1023px) {
  .mideast ul {
    width: 37%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 18px;
  }
}

.native {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1023px) {
  .native {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 90px 0;
  }
}

.native h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding: 29px 30px;
  letter-spacing: 1px;
}

@media screen and (min-width: 1023px) {
  .native h2 {
    font-size: 35px;
  }
}

.native p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 32px;
  font-size: 20px;
  padding: 5px 30px 70px;
}

@media screen and (min-width: 1023px) {
  .native p {
    font-size: 23px;
    line-height: 38px;
    padding-right: 0;
  }
}

@media screen and (min-width: 1023px) {
  .native div {
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 170px;
  }
}

@media screen and (min-width: 1023px) {
  .native figure {
    width: 70%;
  }
}

.discovery {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 1023px) {
  .discovery div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 80px;
  }
}

.discovery h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding: 0 30px;
  letter-spacing: 1.2px;
}

@media screen and (min-width: 1023px) {
  .discovery h2 {
    width: 40%;
    text-align: center;
    font-size: 35px;
    padding: 0;
    margin: 0px;
  }
}

.discovery p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 32px;
  font-size: 20px;
  padding: 40px 30px 70px;
}

@media screen and (min-width: 1023px) {
  .discovery p {
    width: 45%;
    font-size: 23px;
    line-height: 38px;
    padding: 0 40px;
  }
}

.feature-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #ffffff;
}

@media screen and (min-width: 1023px) {
  .feature-list li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1023px) {
  .feature-list li:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.feature-list div {
  padding: 30px;
}

@media screen and (min-width: 1023px) {
  .feature-list div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
    padding: 150px;
    padding-right: 100px;
    padding-left: 220px;
  }
}

.feature-list h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding-bottom: 22px;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 1023px) {
  .feature-list h2 {
    font-size: 35px;
  }
}

.feature-list p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 28px;
  font-size: 19.5px;
  padding: 9px 0 20px;
}

@media screen and (min-width: 1023px) {
  .feature-list p {
    font-size: 23px;
    line-height: 38px;
  }
}

@media screen and (min-width: 1023px) {
  .feature-list figure {
    width: 50%;
  }
}

.social-change {
  padding: 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 1023px) {
  .social-change {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 12em 29em;
  }
}

.social-change h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding-bottom: 22px;
  letter-spacing: 1.5px;
}

@media screen and (min-width: 1023px) {
  .social-change h2 {
    font-size: 35px;
    letter-spacing: 0.5px;
  }
}

.social-change p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 30px;
  font-size: 19.5px;
  padding: 9px 0 20px;
}

@media screen and (min-width: 1023px) {
  .social-change p {
    font-size: 24px;
    line-height: 40px;
    padding-top: 20px;
  }
}

.mideast-blockquote {
  background-color: #10192a;
}

.mideast-blockquote blockquote {
  color: #ffffff;
  padding: 20px 30px;
  line-height: 25px;
  font-size: 15px;
}

@media screen and (min-width: 1023px) {
  .mideast-blockquote blockquote {
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 1em 13em;
    line-height: 50px;
  }
}

.mideast-blockquote div {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 25px;
}

@media screen and (min-width: 1023px) {
  .mideast-blockquote div {
    padding: 1em 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.active-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #10192a;
  color: #ffffff;
  min-height: 100vh;
}

@media screen and (min-width: 1023px) {
  .active-users {
    padding: 20em 35em;
    min-height: 70vh;
  }
}

.active-users h2 {
  font-size: 25px;
  margin: 15px;
}

@media screen and (min-width: 1023px) {
  .active-users h2 {
    font-size: 35px;
    margin: 25px;
  }
}

.active-users h5 {
  margin: 15px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

@media screen and (min-width: 1023px) {
  .active-users h5 {
    font-size: 23px;
    font-weight: lighter;
    line-height: 35px;
  }
}

.active-users div {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1023px) {
  .active-users div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.active-users img {
  margin-top: 20px;
}

@media screen and (min-width: 1023px) {
  .active-users img {
    width: 12em;
    height: 4em;
    margin: 20px;
  }
}

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0 0;
}

@media screen and (min-width: 1023px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

footer li {
  padding: 10px 0;
}

footer li h2 {
  font-size: 15px;
  margin: 18px 30px;
}

@media screen and (min-width: 1023px) {
  footer li h2 {
    font-size: 20px;
  }
}

footer li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5px;
  font-size: 21px;
  color: #000000;
  margin: 0 30px;
}

@media screen and (min-width: 1023px) {
  footer li a {
    font-size: 25px;
    line-height: 40px;
  }
}

footer li svg {
  width: 20px;
  height: 3vh;
  margin-right: 10px;
}

@media screen and (min-width: 1023px) {
  footer li svg {
    margin-top: 6px;
  }
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 30px;
}

@media screen and (min-width: 1023px) {
  footer nav {
    margin: 50px 10em;
  }
}

footer nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1023px) {
  footer nav div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer nav a {
  font-size: 11px;
  margin: 0 2px;
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1023px) {
  footer nav a {
    font-size: 14px;
    line-height: 40px;
    margin: 0 10px;
  }
}

.footer-country {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer-country svg {
  width: 30px;
  margin-bottom: 10px;
}

.footer-country p,
.footer-country a {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
}

main {
  background-color: #171837;
}
/*# sourceMappingURL=style.css.map */