$base-color: #171837;
$black: #000000;
$white: #ffffff;
$darkgray: #232323;
$violet: #10192a;
$purple: #633a86;
$lightblue: #73b3f3;
$lightgray: #abb2b9;
$skyblue: #99daf2;
// $breakpoint-fullwidth: 768px;

@font-face {
    font-family: "maisonneue-book";
    src: url("fonts/maisonneue-book-webfont.woff2");
}
@font-face {
    font-family: "maisonneue-demi";
    src: url("fonts/maisonneue-demi-webfont.woff2");
}

@font-face {
    // font-weight: 200;
    font-family: "maisonneue-light";
    src: url("fonts/maisonneue-light-webfont.woff2");
}
@font-face {
    font-family: "maisonneue-medium";
    src: url("fonts/maisonneue-medium-webfont.woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    padding: 0;
    background-color: $white;
    font-family: maisonneue-light;
}

ul {
    padding: 0;

    li {
        padding: 0;
    }
}

.navbar {
    // position: absolute;
    width: 100%;
    position: absolute;

    @media screen and (min-width: 1023px) {
        display: inline-flex;
        flex-direction: row;
        width: 100%;
        height: 125px;
        justify-content: space-between;
        padding: 0 70px;
        align-items: center;

        opacity: 1;
    }
}

.brand-logo svg {
    fill: $white;
    width: 100px;
    margin: 30px;

    @media screen and (min-width: 1023px) {
        width: 125px;
        flex-grow: 1;
    }
}

.navmenu {
    display: none;
    @media screen and (min-width: 1023px) {
        display: unset;
    }

    a {
        text-decoration: none;
        font-family: maisonneue-book;
        padding-left: 42px;
        color: $white;
        letter-spacing: 0.1px;

        &:hover {
            opacity: 50%;
            transition: opacity 0.2s ease-in;
        }
    }
}

.navbar-favicon {
    display: none;
    // padding: 30px;

    @media screen and (min-width: 1023px) {
        display: unset;
        position: fixed;
        right: 0;
        top: 0;
        padding: 30px;
        cursor: pointer;
        opacity: 0;

        &:hover {
            padding-left: -20px;
            opacity: 0;
        }
    }

    figure {
        width: 60px;
    }
}

// fade in functions

.favicon-fadein {
    opacity: 1;
    animation: favicon-fadein 0.2s;
}

@keyframes favicon-fadein {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.fade-in {
    p {
        // opacity: 0;
        animation: fadein 1s;
    }
    h2 {
        animation: fadein 0.5s;
    }

    .list-container {
        animation: fadein 1s;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(110px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-onhover {
    @media screen and (min-width: 1023px) {
        position: fixed;
        background-color: $skyblue;
        height: 60px;
        animation: nav-fadein 0.2s;

        svg {
            padding-top: 10px;
            fill: $black;
        }

        a {
            color: $black;
        }
    }
}
@keyframes nav-fadein {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.disable-favicon {
    display: none;
}
// end of fade in functions

.hamburger_container {
    position: fixed;
    right: 0;

    .favicon_btn {
        background-color: transparent;
        border: none;
        right: 0px;
        padding: 17px 23px;
        width: 84px;
        height: inherit;
    }
    .toggler {
        position: absolute;
        top: 0;
        right: 15px;
        cursor: pointer;
        width: 50px;
        height: 70px;
        opacity: 0%;
        z-index: 2;
    }

    @media screen and (min-width: 1023px) {
        display: none;
    }
}

.hamburger_menu {
    background-color: $purple;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 25px 32px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;

    .topbar {
        display: flex;
        justify-content: space-between;

        .favicon {
            width: 50px;
            height: 50px;
            cursor: pointer;

            &:hover {
                color: $white;
                transition: all 0.2s ease-in;
            }
        }
        .cross {
            margin: 15px 20px;
            position: absolute;
            width: 40px;
            height: 40px;
            right: 0;
            top: 0;
        }
    }
    ul {
        text-align: left;
        padding-top: 72px;
        height: 75vh;
        a {
            text-decoration: none;
            color: $white;
            line-height: 50px;
            font-size: 24px;
            font-family: maisonneue-book;

            &:hover {
                opacity: 0.5;
                transition: all 0.2s ease;
            }
        }

        // li {
        //     animation: listanimation 0.2s;
        // }

        // @keyframes listanimation {
        //     from {
        //         padding-left: -20px;
        //     }
        //     to {
        //         padding-leftt: 0pc;
        //     }
        // }
    }
    .contact_footer {
        text-align: left;
        display: flex;
        flex-direction: column;
        a {
            text-decoration: none;
            color: $white;
            opacity: 0.75;
            font-weight: 100;
            line-height: 50px;
            font-size: 20px;
            font-family: maisonneue-light;

            svg {
                fill: $lightblue;
                padding: 0;
                width: 19px;
            }
        }
        a:hover {
            text-decoration: underline;
            text-decoration-color: $lightblue;
            color: $lightblue;
            transition: all 0.2s ease-in-out;
        }
    }
}
.toggler:checked ~ .hamburger_menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.met-image {
    width: 100%;
    height: 38vh;

    @media screen and (min-width: 1023px) {
        height: 100vh;
        width: 100%;
    }
    img {
        object-fit: cover;
        top: 0;
        left: 0;

        @media screen and (min-width: 1023px) {
            width: 100%;
            height: 100%;
        }
    }
}

img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
}

.main_heading {
    color: $white;
    padding: 22px 30px;
    background-color: $base-color;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 1023px) {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 72vh;
        left: 9vw;
        background-color: transparent;
    }

    span {
        padding-top: 17px;
        font-size: 16px;
        color: $lightgray;

        @media screen and (min-width: 1023px) {
            font-size: 20px;
            margin-bottom: 24px;
            font-weight: 600;
        }
    }
    h1 {
        font-size: 25px;
        letter-spacing: 0.5px;
        font-family: maisonneue-demi;

        @media screen and (min-width: 1023px) {
            font-size: 54px;
        }
    }
}

.mideast {
    color: $white;
    padding: 10px 30px;
    background-color: $base-color;

    @media screen and (min-width: 1023px) {
        display: flex;
        flex-direction: row;
    }

    p {
        font-size: 22px;
        line-height: 40px;

        @media screen and (min-width: 1023px) {
            width: 63%;
            align-self: center;
            font-size: 33px;
            line-height: 53px;
            margin: 170px;
        }
    }
    ul {
        margin: 26px 0 90px;
        text-decoration: none;
        line-height: 40px;

        @media screen and (min-width: 1023px) {
            width: 37%;
            align-self: center;
            font-size: 18px;
        }
    }
}

.native {
    background-color: $white;
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: 1023px) {
        display: flex;
        flex-direction: row;
        padding: 90px 0;
    }

    h2 {
        color: $black;
        background-color: $white;
        font-size: 27px;
        padding: 29px 30px;
        letter-spacing: 1px;

        @media screen and (min-width: 1023px) {
            font-size: 35px;
        }
    }
    p {
        background-color: $white;
        color: lighten($color: $black, $amount: 30%);
        line-height: 32px;
        font-size: 20px;
        padding: 5px 30px 70px;

        @media screen and (min-width: 1023px) {
            font-size: 23px;
            line-height: 38px;
            // text-align: center;
            padding-right: 0;
        }
    }

    div {
        @media screen and (min-width: 1023px) {
            width: 40%;
            align-self: center;
            margin: 170px;
        }
    }
    figure {
        @media screen and (min-width: 1023px) {
            width: 70%;
        }
    }
}

.discovery {
    background-color: $white;
    display: flex;
    flex-direction: column-reverse;

    div {
        @media screen and (min-width: 1023px) {
            display: flex;
            margin-bottom: 80px;
        }
    }

    h2 {
        color: $black;
        background-color: $white;
        font-size: 27px;
        padding: 0 30px;
        letter-spacing: 1.2px;

        @media screen and (min-width: 1023px) {
            width: 40%;
            text-align: center;
            font-size: 35px;
            padding: 0;
            margin: 0px;
        }
    }
    p {
        background-color: $white;
        color: lighten($color: $black, $amount: 30%);
        line-height: 32px;
        font-size: 20px;
        padding: 40px 30px 70px;

        @media screen and (min-width: 1023px) {
            width: 45%;
            font-size: 23px;
            line-height: 38px;
            padding: 0 40px;
        }
    }
}

.feature-list {
    li {
        display: flex;
        flex-direction: column-reverse;
        background-color: $white;

        @media screen and (min-width: 1023px) {
            flex-direction: row;
            padding: 0;
            margin: 0;
        }

        &:nth-child(even) {
            @media screen and (min-width: 1023px) {
                flex-direction: row-reverse;
            }
        }
    }
    div {
        padding: 30px;
        @media screen and (min-width: 1023px) {
            align-self: center;
            width: 50%;
            padding: 150px;
            padding-right: 100px;
            padding-left: 220px;
        }
    }
    h2 {
        color: $black;
        background-color: $white;
        font-size: 27px;
        padding-bottom: 22px;
        letter-spacing: 1.5px;

        @media screen and (min-width: 1023px) {
            font-size: 35px;
        }
    }
    p {
        background-color: $white;
        color: lighten($color: $black, $amount: 30%);
        line-height: 28px;
        font-size: 19.5px;
        padding: 9px 0 20px;

        @media screen and (min-width: 1023px) {
            font-size: 23px;
            line-height: 38px;
            // padding: 0 40px;
        }
    }

    figure {
        @media screen and (min-width: 1023px) {
            width: 50%;
        }
    }
}

.social-change {
    padding: 30px;
    background-color: $white;

    @media screen and (min-width: 1023px) {
        align-self: center;
        padding: 12em 29em;
    }

    h2 {
        color: $black;
        background-color: $white;
        font-size: 27px;
        padding-bottom: 22px;
        letter-spacing: 1.5px;

        @media screen and (min-width: 1023px) {
            font-size: 35px;
            letter-spacing: 0.5px;
        }
    }
    p {
        background-color: $white;
        color: lighten($color: $black, $amount: 30%);
        line-height: 30px;
        font-size: 19.5px;
        padding: 9px 0 20px;

        @media screen and (min-width: 1023px) {
            font-size: 24px;
            line-height: 40px;
            padding-top: 20px;
        }
    }
}

.mideast-blockquote {
    background-color: $violet;

    blockquote {
        color: $white;
        padding: 20px 30px;
        line-height: 25px;
        font-size: 15px;

        @media screen and (min-width: 1023px) {
            font-size: 30px;
            align-self: center;
            padding: 1em 13em;
            line-height: 50px;
        }
    }

    div {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 25px;

        @media screen and (min-width: 1023px) {
            padding: 1em 0;
            font-size: 20px;
            line-height: 30px;
        }
    }
}

.active-users {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $violet;
    color: $white;
    min-height: 100vh;

    @media screen and (min-width: 1023px) {
        padding: 20em 35em;
        min-height: 70vh;
    }

    h2 {
        font-size: 25px;
        margin: 15px;

        @media screen and (min-width: 1023px) {
            font-size: 35px;
            margin: 25px;
        }
    }

    h5 {
        margin: 15px;
        font-size: 18px;
        text-align: center;
        line-height: 30px;

        @media screen and (min-width: 1023px) {
            font-size: 23px;
            font-weight: lighter;
            line-height: 35px;
        }
    }

    div {
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1023px) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    img {
        margin-top: 20px;

        @media screen and (min-width: 1023px) {
            width: 12em;
            height: 4em;
            margin: 20px;
        }
    }
}

footer {
    background-color: $white;
    color: $black;
    padding: 10px 0 0;
    ul {
        @media screen and (min-width: 1023px) {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    li {
        padding: 10px 0;

        h2 {
            font-size: 15px;
            margin: 18px 30px;
            @media screen and (min-width: 1023px) {
                font-size: 20px;
            }
        }
        a {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            padding-top: 5px;
            font-size: 21px;
            color: $black;
            margin: 0 30px;

            @media screen and (min-width: 1023px) {
                font-size: 25px;
                line-height: 40px;
            }
        }
        svg {
            width: 20px;
            height: 3vh;
            margin-right: 10px;

            @media screen and (min-width: 1023px) {
                margin-top: 6px;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-between;
        margin: 50px 30px;

        @media screen and (min-width: 1023px) {
            margin: 50px 10em;
        }

        div {
            display: flex;
            justify-content: center;

            @media screen and (min-width: 1023px) {
                justify-content: space-between;
            }
        }
        a {
            font-size: 11px;
            margin: 0 2px;
            text-decoration: none;
            color: $black;

            @media screen and (min-width: 1023px) {
                font-size: 14px;
                line-height: 40px;
                margin: 0 10px;
            }
        }
    }
}

.footer-country {
    background-color: $darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    svg {
        width: 30px;
        margin-bottom: 10px;
    }

    p,
    a {
        color: $white;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0;
        font-weight: 500;
    }
}

main {
    background-color: $base-color;
}
