@font-face {
  font-family: "maisonneue-book";
  src: url("/fonts/maisonneue-book-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-demi";
  src: url("/fonts/maisonneue-demi-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-light";
  src: url("/fonts/maisonneue-light-webfont.woff2");
}

@font-face {
  font-family: "maisonneue-medium";
  src: url("/fonts/maisonneue-medium-webfont.woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  background-color: #ffffff;
  font-family: maisonneue-light;
}

ul {
  padding: 0;
}

ul li {
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  background-color: #171837;
  position: relative;
  text-align: center;
}

@media screen and (min-width: 1023px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

header .logo-animated {
  position: absolute;
  width: 100px;
  height: 20px;
  margin: 27px 30px;
  top: 0;
  left: 0;
  fill: #ffffff;
}

header .nav_menu {
  display: none;
}

@media screen and (min-width: 1023px) {
  header .nav_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    text-align: center;
    right: 0;
    top: 10px;
  }
}

.hamburger_container {
  position: fixed;
  right: 0;
}

.hamburger_container .favicon_btn {
  background-color: transparent;
  border: none;
  right: 0px;
  padding: 17px 23px;
  width: 84px;
  height: inherit;
}

.hamburger_container .toggler {
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
  width: 50px;
  height: 70px;
  opacity: 0%;
  z-index: 2;
}

@media screen and (min-width: 1023px) {
  .hamburger_container {
    display: none;
  }
}

.hamburger_menu {
  background-color: #633a86;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 25px 32px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.hamburger_menu .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hamburger_menu .topbar .favicon {
  width: 50px;
  height: 50px;
}

.hamburger_menu .topbar .cross {
  margin: 15px 20px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
}

.hamburger_menu ul {
  text-align: left;
  padding-top: 72px;
  height: 70vh;
}

.hamburger_menu ul a {
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
  font-size: 24px;
  font-family: maisonneue-light;
}

.hamburger_menu ul a:hover {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hamburger_menu .contact_footer {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hamburger_menu .contact_footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 10;
  line-height: 50px;
  font-size: 20px;
  font-family: maisonneue-light;
}

.hamburger_menu .contact_footer a svg {
  fill: #ffffff;
  padding: 0;
  width: 20px;
  margin-top: 11px;
}

.hamburger_menu .contact_footer a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #73b3f3;
          text-decoration-color: #73b3f3;
  color: #73b3f3;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggler:checked ~ .hamburger_menu {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.met-image {
  width: 100%;
  height: 38vh;
}

@media screen and (min-width: 1023px) {
  .met-image {
    height: 100%;
    width: 100%;
  }
}

.met-image img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

@media screen and (min-width: 1023px) {
  .met-image img {
    width: 100%;
    height: 100%;
  }
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.main_heading {
  color: #ffffff;
  padding: 22px 30px;
  background-color: #171837;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.main_heading span {
  padding-top: 17px;
  font-size: 16px;
  color: white;
}

.main_heading h1 {
  font-size: 25px;
  letter-spacing: 0.5px;
  font-family: maisonneue-demi;
}

.mideast {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #171837;
}

.mideast p {
  font-size: 22px;
  line-height: 40px;
}

.mideast ul {
  margin: 26px 0 90px;
  text-decoration: none;
  line-height: 40px;
}

.native {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.native h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding: 29px 30px;
  letter-spacing: 1px;
}

.native p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 32px;
  font-size: 20px;
  padding: 5px 30px 70px;
}

.discovery {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.discovery h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding: 0 30px;
  letter-spacing: 1.2px;
}

.discovery p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 32px;
  font-size: 20px;
  padding: 40px 30px 70px;
}

.feature-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #ffffff;
}

@media screen and (min-width: 1023px) {
  .feature-list li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1023px) {
  .feature-list li:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.feature-list div {
  padding: 30px;
}

.feature-list h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding-bottom: 22px;
  letter-spacing: 1.5px;
}

.feature-list p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 28px;
  font-size: 19.5px;
  padding: 9px 0 20px;
}

.social-change {
  padding: 30px;
  background-color: #ffffff;
}

.social-change h2 {
  color: #000000;
  background-color: #ffffff;
  font-size: 27px;
  padding-bottom: 22px;
  letter-spacing: 1.5px;
}

.social-change p {
  background-color: #ffffff;
  color: #4d4d4d;
  line-height: 30px;
  font-size: 19.5px;
  padding: 9px 0 20px;
}

.mideast-blockquote {
  background-color: #10192a;
}

.mideast-blockquote blockquote {
  color: #ffffff;
  padding: 20px 30px;
  line-height: 25px;
  font-size: 15px;
}

.mideast-blockquote div {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 25px;
}

.active-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #10192a;
  color: #ffffff;
  min-height: 100vh;
}

.active-users h2 {
  font-size: 25px;
  margin: 15px;
}

.active-users h5 {
  margin: 15px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}

.active-users div {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active-users img {
  margin-top: 20px;
}

footer {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0 0;
}

footer li {
  padding: 10px 0;
}

footer li h2 {
  font-size: 15px;
  margin: 18px 30px;
}

footer li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 5px;
  font-size: 21px;
  color: #000000;
  margin: 0 30px;
}

footer li svg {
  width: 20px;
  height: 3vh;
  margin-right: 10px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 30px;
}

footer nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav a {
  font-size: 11px;
  margin: 0 2px;
  text-decoration: none;
  color: #000000;
}

.footer-country {
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer-country svg {
  width: 30px;
  margin-bottom: 10px;
}

.footer-country p,
.footer-country a {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 500;
}

main {
  background-color: #171837;
}
/*# sourceMappingURL=style.css.map */