$purple: #633a86;
$base-color: #171837;
$black: #000000;
$white: #ffffff;

// $breakpoint-fullwidth: 768px;

@font-face {
  font-family: "maisonneue-book";
  src: url("/fonts/maisonneue-book-webfont.woff2");
}
@font-face {
  font-family: "maisonneue-demi";
  src: url("/fonts/maisonneue-demi-webfont.woff2");
}

@font-face {
  // font-weight: 200;
  font-family: "maisonneue-light";
  src: url("/fonts/maisonneue-light-webfont.woff2");
}
@font-face {
  font-family: "maisonneue-medium";
  src: url("/fonts/maisonneue-medium-webfont.woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  background-color: $white;
  font-family: maisonneue-light, sans-serif;
}

ul {
  padding: 0;

  li {
    padding: 0;
  }
}

header {
  display: flex;
  color: $white;
  background-color: $base-color;
  position: relative;
  text-align: center;
  
  @media screen and (min-width: 1023px) {
    display: flex;
    flex-direction: row;
  }

  svg {
    position: absolute;
    width: 100px;
    height: 20px;
    margin: 27px 30px;
    top: 0;
    left: 0;
    fill: $white;
  }

  .nav_menu {
    display: none;

    @media screen and (min-width: 1023px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      text-align: center;
      right: 0;
      top: 10px;
    }
  }

  .hamburger_container {
    position: fixed;
    right: 0;

    .favicon_btn {
      background-color: transparent;
      border: none;
      right: 0px;
      padding: 17px 23px;
      width: 84px;
      height: inherit;
    }
    .toggler {
      position: absolute;
      top: 0;
      right: 15px;
      cursor: pointer;
      width: 50px;
      height: 70px;
      opacity: 0%;
      z-index: 2;
    }

    .hamburger_menu {
      background-color: $purple;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      padding: 25px 32px;
      visibility: hidden;

      .topbar {
        display: flex;
        justify-content: space-between;

        .favicon {
          width: 50px;
          height: 50px;
        }
        .cross {
          margin: 15px 20px;
          position: absolute;
          width: 40px;
          height: 40px;
          right: 15px;
          top: 0;
        }
      }
      ul {
        text-align: left;
        padding-top: 72px;
        height: 70vh;
        a {
          text-decoration: none;
          color: $white;
          line-height: 50px;
          font-size: 24px;
          font-family: maisonneue-light;
        }
      }
      .contact_footer {
        text-align: left;
        display: grid;
        a {
          text-decoration: none;
          color: $white;
          font-weight: 10;
          line-height: 50px;
          font-size: 20px;
          font-family: maisonneue-light;
        }
      }
    }
    .toggler:checked ~ .hamburger_menu {
      visibility: visible;
    }

    @media screen and (min-width: 1023px) {
      display: none;
    }
  }
  .met-image {
    width: 100%;
    height: 38vh;

    @media screen and (min-width: 1023px) {
      height: 100%;
      width: 100%;
    }
    img {
      // width: 100%;
      object-fit: cover;
      // height: 100%;
      top: 0;
      left: 0;

      @media screen and (min-width: 1023px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}

.main_heading {
  color: $white;
  // font-size: 14px;
  padding: 24px 30px;
  background-color: $base-color;
  display: flex;
  flex-direction: column-reverse;

  span {
    padding-top: 18px;
    font-size: 16px;
    opacity: 0.8;
  }
  h1 {
    font-size: 25px;
    letter-spacing: 0.5px;
    font-family: maisonneue-demi;
  }
}

.mideast_container {
  color: $white;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $base-color;
  // font-family: maisonneue-light;

  p {
    font-size: 22px;
    line-height: 1.81818182;
  }
  ul {
    margin: 10px 0;
    text-decoration: none;
    line-height: 35px;
  }
}

.feature-list {
  li {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1023px) {
      flex-direction: row;
    }

    &:nth-child(even) {
      @media screen and (min-width: 1023px) {
        flex-direction: row-reverse;
      }
    }
  }
}

.native_container {
  background-color: $white;
  font-weight: normal;

  h2 {
    color: $black;
    background-color: $white;
    font-size: 28px;
    padding: 25px;
  }
  p {
    background-color: $white;
    color: lighten($color: $black, $amount: 30%);
    line-height: 30px;
    font-size: 20px;
    padding: 25px;
  }
}

.blockquote_container {
  background-color: $base-color;

  blockquote {
    color: $white;
    padding: 20px;
    line-height: 25px;
  }

  div {
    display: grid;
    margin-top: 10px;
  }
}

.users_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $base-color;
  color: $white;
  min-height: 100vh;

  h2 {
    font-size: 25px;
    margin: 15px;
  }
  h5 {
    margin: 15px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
  }

  div {
    width: 50%;
    height: 50%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
  }
  img {
    margin-top: 20px;
  }
}

footer {
  background-color: $white;
  color: $black;

  h2 {
    font-size: 15px;
    margin: 20px;
  }
  a {
    text-decoration: none;
    display: grid;
    padding-top: 5px;
    font-size: 21px;
    color: $black;
    margin: 0 20px;
  }
  p {
    text-decoration: none;
    display: grid;
    padding-top: 5px;
    font-size: 21px;
    color: $black;
    margin: 0 20px;
  }
  li {
    padding: 10px 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 20px;

    a,
    p {
      font-size: 11px;
      margin: 0 2px;
    }

    div {
      display: flex;
      justify-content: center;
    }
  }

  span {
    display: flex;
    text-align: center;
    font-size: 15px;
    background-color: $black;
    color: $white;
    font-family: maisonneue-book;
    padding: 15px 24px;
  }
}

main {
  background-color: $base-color;
}
